@charset "UTF-8";
body {
  font-family: "";
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.outside {
  width: 100%;
}
.btn {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.45;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  max-width: 360px;
  width: 100%;
  height: 60px;
  font-size: 1.5em;
  color: #fff;
  background: #333;
  overflow: hidden;
  border: solid 1px #fff;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.125rem;
    line-height: 3.375;
  }
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover:before {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.btn:hover span {
  position: relative;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #333;
}
.overview__content--btn {
  display: inline-block;
}
.overview__content--text {
  display: inline-block;
  width: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.4375;
  color: #fff;
  text-align: left;
  padding-right: 20px;
  padding-right: 1.25rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .overview__content--text {
    font-size: 1rem;
    letter-spacing: 0.03125rem;
    line-height: 2.1875;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 3rem;
  }
}
.overview__content--title {
  display: inline-block;
  width: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.45;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .overview__content--title {
    font-size: 1.5625rem;
    letter-spacing: 0.03125rem;
    line-height: 0.64;
    margin-bottom: 3rem;
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .overview__content {
    padding: 7.4375rem 18.5625rem 7.4375rem 5.5625rem;
  }
}
.overview__contents--img-inner {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/images/overview@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.overview__contents--img {
  display: block;
  max-width: 375px;
  max-width: 23.4375rem;
  width: 100%;
  background-color: #f00;
  position: relative;
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .overview__contents--img {
    max-width: 34.8125rem;
    width: 100%;
    margin-left: auto;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
}
.overview__contents--img::before {
  content: "";
  display: block;
  width: 100%;
  aspect-ratio: 4/3;
}
@media screen and (min-width: 768px) {
  .overview__contents--inner {
    width: 100%;
    background-color: #333;
    position: relative;
  }
}
.overview__contents {
  text-align: center;
  padding-bottom: 21px;
  padding-bottom: 1.3125rem;
}
@media screen and (min-width: 768px) {
  .overview__contents {
    padding-right: 24rem;
    padding-bottom: 0rem;
  }
}
.overview__contetnt--inner {
  background-color: #333;
  padding-top: 24px;
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .overview__contetnt--inner {
    padding-top: 0rem;
    text-align: left;
  }
}
.overview__inner {
  width: 100%;
  background-color: #111;
  padding-top: 48px;
  padding-top: 3rem;
}
.overview__title {
  max-width: 375px;
  max-width: 23.4375rem;
  width: 100%;
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.45;
  color: #fff;
  text-align: center;
  position: relative;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .overview__title {
    display: inline-block;
    max-width: 80rem;
    width: 100%;
    font-size: 1.875rem;
    font-weight: 400;
    letter-spacing: 0.03125rem;
    line-height: 1;
    text-align: center;
  }
}
.overview__title::before {
  content: "Overview";
  display: block;
  color: #f9f871;
  opacity: 0.27;
  font-family: "Noto Serif JP", serif;
  font-size: 50px;
  font-size: 3.125rem;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.44;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -66%);
          transform: translate(-50%, -66%);
}
@media screen and (min-width: 768px) {
  .overview__title::before {
    font-size: 6.875rem;
    letter-spacing: 0.125rem;
    line-height: 1.4363636;
    -webkit-transform: translate(-107%, -32%);
            transform: translate(-107%, -32%);
  }
}
.overview {
  max-width: 375px;
  max-width: 23.4375rem;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .overview {
    max-width: 80rem;
  }
}
/*# sourceMappingURL=styles.css.map */
